[mysqld]
bind-address = 0.0.0.0
port = 3306
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
myisam-recover-options = BACKUP
# log_error = /var/log/mysql/error.log
# log_error = /var/www/html/kingProject/mysql/error.log
# log_error = /var/lib/mysql/error.log
binlog_expire_logs_seconds  = 10
max_binlog_size = 100M
default_authentication_plugin = mysql_native_password

# 文字コード設定
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'

innodb_buffer_pool_size = 128M  # 全体の25%程度
max_connections = 20  # 接続数を制限
thread_cache_size=4
table_open_cache=64
sort_buffer_size=512K
read_buffer_size=512K
read_rnd_buffer_size=512K

[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4